.item {
    width: 350px;
    transition: transform 0.6s;
    /* Ensure smooth scaling transition */
}

.item p {
    margin: 6px 0;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.6s;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .item {
        width: 300px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .item {
        width: 250px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .item {
        width: 100%;
    }

    .item-price-new,
    .item-price-old {
        font-size: 12px;
    }
}